@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Padauk:wght@400;700&display=swap");
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$font-family-sans-serif: "Lobster Two", "Padauk", sans-serif;
$primary: #333;
$secondary: #e90909;
$white: #fff;
$btn-padding-x: 3rem;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.header {
  width: 100%;
  height: 100vh;
  background: url(../img/header-bg.jpg);
  background-size: cover;
}

.nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #e90909;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.5s;
}

.nav-link:hover::after {
  width: 100%;
}

.content h3 {
  letter-spacing: 5px;
}

.content h1 {
  letter-spacing: 5px;
}

.coffeeBuyBtn {
  transition: 0.5;
}

.coffeeBuyBtn:active {
  transform: translate(0px, 3px) scale(0.9);
}

.image-1 {
  cursor: pointer;
  flex-basis: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-shadow {
  box-shadow: 0 0 10px 0 rgb(99, 97, 97);
}

.about-content {
  flex-basis: 40%;
}

.about-content h3 {
  letter-spacing: 2px;
}
.about-content p {
  line-height: 2rem;
}

// .blog .container{
//     display: grid;
//     grid-template-columns: repeat(auto-fit ,minmax(28rem,1fr));
// }

.post {
  width: 100%;
  height: auto;
  transition: 0.3s linear all;
  cursor: pointer;
}
.post:hover {
  transform: translate(0, -10px);
}

.post:hover img {
  transform: scale(1.1);
}
.blog-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-img span {
  bottom: 5%;
  right: 5%;
}

.service-box {
  height: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  // padding-bottom: 3rem;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.service-box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.service-box:hover {
  transform: translateY(-1rem);
}

.team-box {
  //   object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}

.team-img:hover {
  box-shadow: 0px 0px 10px 0px red;
}

.team-box img:hover {
  transform: scale(1.1);
}

.team-content {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  position: relative;
  margin-top: -3rem;
  z-index: 2;
  left: 10%;
  background: #0000005e;
  border-radius: 1rem;
}

.social a {
  display: inline-block;
  margin: 1rem;
  width: 2rem;
  height: 2rem;
  background: $secondary;
  color: #fff;
  line-height: 2rem;
  font-size: 1.5rem;
  border-radius: 3px;
}
.social a:hover {
  border-radius: 100%;
  box-shadow: 0px 0px 10px 0px red;
}
.team-box:hover .team-content{
    transform: translateY(-1rem);
}

.contact-box div i{
    width: 3rem;
    height: 3rem;
    background: $secondary;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    line-height:3rem;
    border-radius: 100%;
}

.contact-box:hover{
    background: #a2a2a2;
    color: #fff;
}

.footer{
    background: url(../img/footer-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10rem;
}

.footer-input{
    width: 70%;
    padding: 0.8rem;
}

.social-2 a{
    margin: 0.5rem;
    color: white;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: $secondary;
    border-radius: 100%;

}

.social-2 a:hover {
    box-shadow: 0px 0px 10px 0px red;
  }